section.destacados
    h1.cms-titulo.cms-titulo--verde EVENTOS DESTACADOS
    .destacados__item
        img.destacados__img.img-fluid(src="images/imagen-proximos-eventos-6.jpg")
        .destacados__bloque
            h4.destacados__titulo
                a(href="#") NOMBRE DEL EVENTO DESTACADO SUPER HYPER MEGA DESTACADISIMO
            p.destacados__descripcion Breve descripción o información general del evento Breve descripción o información general del evento Breve descripción o información general del evento

            p.destacados__fecha LUGAR Y FECHA DE INICIO DEL EVENTO

    .destacados__item
        img.destacados__img.img-fluid(src="images/imagen-proximos-eventos-4.jpg")
        .destacados__bloque
            h4.destacados__titulo
                a(href="#") NOMBRE DEL EVENTO DESTACADO NOMBRE DEL EVENTO DESTACADO NOMBRE DEL EVENTO DESTACADO NOMBRE DEL EVENTO DESTACADO
            p.destacados__descripcion Breve descripción o información general del evento

            p.destacados__fecha LUGAR Y FECHA DE INICIO DEL EVENTO

    .destacados__item
        img.destacados__img.img-fluid(src="images/imagen-proximos-eventos-1.jpg")
        .destacados__bloque
            h4.destacados__titulo
                a(href="#") NOMBRE DEL EVENTO DESTACADO
            p.destacados__descripcion Breve descripción o información general del evento

            p.destacados__fecha LUGAR Y FECHA DE INICIO DEL EVENTO

    .destacados__item
        img.destacados__img.img-fluid(src="images/imagen-proximos-eventos-2.jpg")
        .destacados__bloque
            h4.destacados__titulo
                a(href="#") NOMBRE DEL EVENTO DESTACADO
            p.destacados__descripcion Breve descripción o información general del evento

            p.destacados__fecha LUGAR Y FECHA DE INICIO DEL EVENTO
