h1.cms-titulo.cms-titulo--amarillo PRÓXIMOS EVENTOS
section.card-eventos
    article.card-eventos__item
        img.card-eventos__img.img-fluid(src='images/imagen-proximos-eventos-1.jpg', alt='Card image cap')
        .card-eventos__bloque.px-3.py-2
            .card-eventos__texto
                h4.card-eventos__titulo NOMBRE DEL EVENTO CONSIDERABLE Y LARGO ES UNA LOCURA DE TEXTO
                p.card-eventos__descripcion
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
            // Fecha
            .card-eventos__fecha
                span.dia 08
                span.mes ABRIL

        .card-eventos__txt-complementario.px-3 LUGAR Y HORA DEL EVENTO

        .cmseventos-boton.cmseventos-boton--boton3
            a(href='#') LEER MÁS

    article.card-eventos__item
        img.card-eventos__img.img-fluid(src='images/imagen-proximos-eventos-2.jpg', alt='Card image cap')
        .card-eventos__bloque.px-3.py-2
            .card-eventos__texto
                h4.card-eventos__titulo Nombre del evento mas o menos largo
                p.card-eventos__descripcion
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
            // Fecha
            .card-eventos__fecha
                span.dia 21
                span.mes ABRIL

        .card-eventos__txt-complementario.px-3 LUGAR Y HORA DEL EVENTO

        .cmseventos-boton.cmseventos-boton--boton3
            a(href='#') LEER MÁS

    article.card-eventos__item
        img.card-eventos__img.img-fluid(src='images/imagen-proximos-eventos-3.jpg', alt='Card image cap')
        .card-eventos__bloque.px-3.py-2
            .card-eventos__texto
                h4.card-eventos__titulo Nombre del evento
                p.card-eventos__descripcion
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
            // Fecha
            .card-eventos__fecha
                span.dia 29
                span.mes ABRIL

        .card-eventos__txt-complementario.px-3 LUGAR Y HORA DEL EVENTO

        .cmseventos-boton.cmseventos-boton--boton3
            a(href='#') LEER MÁS

    article.card-eventos__item
        img.card-eventos__img.img-fluid(src='images/imagen-proximos-eventos-4.jpg', alt='Card image cap')
        .card-eventos__bloque.px-3.py-2
            .card-eventos__texto
                h4.card-eventos__titulo Nombre del evento
                p.card-eventos__descripcion
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
            // Fecha
            .card-eventos__fecha
                span.dia 06
                span.mes MAYO

        .card-eventos__txt-complementario.px-3 LUGAR Y HORA DEL EVENTO

        .cmseventos-boton.cmseventos-boton--boton3
            a(href='#') LEER MÁS

    article.card-eventos__item
        img.card-eventos__img.img-fluid(src='images/imagen-proximos-eventos-5.jpg', alt='Card image cap')
        .card-eventos__bloque.px-3.py-2
            .card-eventos__texto
                h4.card-eventos__titulo Nombre del evento
                p.card-eventos__descripcion
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
            // Fecha
            .card-eventos__fecha
                span.dia 11
                span.mes MAYO

        .card-eventos__txt-complementario.px-3 LUGAR Y HORA DEL EVENTO

        .cmseventos-boton.cmseventos-boton--boton3
            a(href='#') LEER MÁS

    article.card-eventos__item
        img.card-eventos__img.img-fluid(src='images/imagen-proximos-eventos-6.jpg', alt='Card image cap')
        .card-eventos__bloque.px-3.py-2
            .card-eventos__texto
                h4.card-eventos__titulo Nombre del evento
                p.card-eventos__descripcion
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
            // Fecha
            .card-eventos__fecha
                span.dia 19
                span.mes JUNIO

        .card-eventos__txt-complementario.px-3 LUGAR Y HORA DEL EVENTO

        .cmseventos-boton.cmseventos-boton--boton3
            a(href='#') LEER MÁS

    .cmseventos-boton.cmseventos-boton--todos
        a(href="#") VER TODOS LOS PRÓXIMOS EVENTOS
