h1.cmsuniversidad-titulo.cmsuniversidad-titulo--actualidad ACTUALIDAD ACADÉMICA
section.eventos
    article.eventos__card
        img.eventos__img(src='images/imagen-proximos-eventos-1.jpg', alt='Card image cap')
        .eventos__bloque
            h4.eventos__titulo Card title
            p.eventos__texto
                | Some quick example text to build on the card title and make up the bulk of the card's content.

            a.eventos__boton(href='#') Go somewhere

    article.eventos__card
        img.eventos__img(src='images/imagen-proximos-eventos-2.jpg', alt='Card image cap')
        .eventos__bloque
            h4.eventos__titulo Card title
            p.eventos__texto
                | Some quick example text to build on the card title and make up the bulk of the card's content.

            a.eventos__boton(href='#') Go somewhere

    article.eventos__card
        img.eventos__img(src='images/imagen-proximos-eventos-3.jpg', alt='Card image cap')
        .eventos__bloque
            h4.eventos__titulo Card title
            p.eventos__texto
                | Some quick example text to build on the card title and make up the bulk of the card's content.

            a.eventos__boton(href='#') Go somewhere

    article.eventos__card
        img.eventos__img(src='images/imagen-proximos-eventos-4.jpg', alt='Card image cap')
        .eventos__bloque
            h4.eventos__titulo Card title
            p.eventos__texto
                | Some quick example text to build on the card title and make up the bulk of the card's content.

            a.eventos__boton(href='#') Go somewhere

    article.eventos__card
        img.eventos__img(src='images/imagen-proximos-eventos-5.jpg', alt='Card image cap')
        .eventos__bloque
            h4.eventos__titulo Card title
            p.eventos__texto
                | Some quick example text to build on the card title and make up the bulk of the card's content.

            a.eventos__boton(href='#') Go somewhere

    article.eventos__card
        img.eventos__img(src='images/imagen-proximos-eventos-6.jpg', alt='Card image cap')
        .eventos__bloque
            h4.eventos__titulo Card title
            p.eventos__texto
                | Some quick example text to build on the card title and make up the bulk of the card's content.

            a.eventos__boton(href='#') Go somewhere

    a.eventos__boton-todos(href="#") VER TODOS LOS PRÓXIMOS EVENTOS
