//include _redes

footer.footer
    .container
        .row
            // Logo Camersur
            .col-12.col-md-3
                a(href="#")
                    img(src="images/logo-eventos.svg", alt="Eventos Camersur Logo", class="img-fluid")

            // Seccion acerca de nosotros
            .col-12.col-md-3.acerca
                h4.footer__titulo Acerca de Camersur
                ul.footer__menu
                    li.footer__menu__item: a.footer__menu__link(href="#") Nosotros
                    li.footer__menu__item: a.footer__menu__link(href="#") Planes
                    li.footer__menu__item: a.footer__menu__link(href="#") Aviso legal
                    li.footer__menu__item: a.footer__menu__link(href="#") Términos de uso
                    li.footer__menu__item: a.footer__menu__link(href="#") Políticas de cookies

            // Seccion de categorias
            .col-12.col-md-3.categorias
                h4.footer__titulo Áreas de interés
                ul.footer__menu
                    li.footer__menu__item: a.footer__menu__link(href="#") Eventos
                    li.footer__menu__item: a.footer__menu__link(href="#") Nosotros
                    li.footer__menu__item: a.footer__menu__link(href="#") Soporte


            // Seccion de contacto
            .col-12.col-md-3.contacto
                h4.footer__titulo Contacto
                p.contacto__email
                    i.fa.fa-envelope.pr-2
                    |info@camersur.com
                p.contacto__telefono
                    i.fa.fa-mobile.pr-2
                    |Telf: 954-687-0025
                p.contacto__direccion
                    i.fa.fa-map-marker.pr-2
                    |2863 Executive Park Dr. Suite 102 Weston
                    br
                    | FL 33326

            // Seccion de copyright
            .col-12.text-center.mt-3
                p.copyright Copyright &copy; CAMERSUR, 2016-2017. Todos los derechos reservados

script(src="js/jquery.min.js")
script(src="js/bootstrap.js")
script(src="js/jquery.calendario.js")
script(src="js/main.js")