header.header.py-3
    .container.d-flex.flex-wrap.align-items-center

        //Logo + Seccion de registro y redes sociales
        .header__logo
            a(href="index.html", alt="Link a Eventos Camersur")
                img(src="images/logo-eventos.svg", alt="Logo Universidad Camersur")
        .header__acciones
            .header__acciones.header__acciones__idioma
                img(src="images/bandera-espana.png", alt="Español")
                a(href="#") es
            .header__acciones.header__acciones__registrarse
                a(href="#") REGISTRARSE
            .header__acciones.header__acciones__login
                a(href="#") Iniciar sesión
                img(src="images/icono-usuario.png", alt="Iniciar sesión")

        // Iconos redes sociales
        section.header__sociales
            a(href="#")
                img(src="images/icono-facebook.png", alt="Icono de Facebook")
            a(href="#")
                img(src="images/icono-instagram.png", alt="Icono de Instagram")
            a(href="#")
                img(src="images/icono-twitter.png", alt="Icono de Twitter")
            a(href="#")
                img(src="images/icono-linkedin.png", alt="Icono de LinkedIn")
            a(href="#")
                img(src="images/icono-rss.png", alt="Icono de canal RSS")

        //Banner destacado
        section.header__banner
            img(src="images/imagen-slider-principal-eventos.jpg", alt="Banner principal", class="img-fluid")

        // Menu de navegacion + Boton Creacion de Evento
        section.header__navegacion.my-3

            // Boton de menu
            button(type="button", class="boton-menu hidden-md-up", data-toggle="collapse", data-target="#menu-principal", aria-expanded="false")
                i.fa.fa-bars(aria-hidden="true")

            // Boton de crear un evento
            button.header__boton(type='button') Crear un Evento

            // Menú de navegación
            include _navbar

        // Banner TDG
        .row
            .hidden-xs-down.col-sm-12.text-center
                section
                    a(href="http://www.globaltdg.com", target="_blank")
                        img(src="images/BannerTDG.png", alt="Banner publicitario TDG", class='img-fluid')
