section.publicar-evento
    h2.publicar-evento__titulo ¿Tienes un evento?
    h4.publicar-evento__subtitulo Publícalo y dalo a conocer

    a(href="#")
        img.img-fluid(src="images/BotonCrearUnEvento.jpg", alt="Publicar evento")
