// Calendario
section.calendario
    button.calendario__boton(type="button")
        i.fa.i.fa.fa-calendar
        h4 Próximos Eventos

// Buscador de Eventos
section.buscador
    h4.buscador__titulo BUSCADOR DE EVENTOS
    .buscador__bloque
        form.buscador__frm
            input.form-control(type="text", placeholder="PALABRA CLAVE")
            input.form-control(type="text", placeholder="ORGANIZADOR")
            select.form-control
                option(selected="selected") CATEGORÍA
            button.buscador__boton(type="button") Buscar

// Publicidad
img(src="images/esmitecp.png", class="img-fluid")

// Redes Sociales
section.sociales
    a.sociales__icon(href="#")
        img(src="images/icono-linkedin-blanco.png", class="img-fluid")
    a.sociales__icon(href="#")
        img(src="images/icono-facebook-blanco.png", class="img-fluid")
    a.sociales__icon(href="#")
        img(src="images/icono-twitter-blanco.png", class="img-fluid")
    a.sociales__icon(href="#")
        img(src="images/icono-youtube-blanco.png", class="img-fluid")
    a.sociales__icon(href="#")
        img(src="images/icono-instagram-blanco.png", class="img-fluid")

