// Novedades
section.novedades
    h4.novedades__titulo RECIBE LAS NOVEDADES
    form.novedades__form
        input.form-control(type="email", placeholder="DIRECCIÓN DE CORREO")
        input(type="submit", value="SUSCRIBIRSE")

// Crear un evento
section.crear-evento
    a.crear-evento__link(href="#")
        img.crear-evento__img.img-fluid(src="images/imagen-crear-un-evento.jpg")

// Publicidad
section.publicidad
    .publicidad__item
        img.publicidad__img.img-fluid(src="images/Banner1.png")

    .publicidad__item
        img.publicidad__img.img-fluid(src="images/Banner2.png")

    .publicidad__item
        img.publicidad__img.img-fluid(src="images/Banner3.png")

