.info-evento
    .cmseventos-boton-detalle.cmseventos-boton-detalle--boton-amarillo
        a(href="#") Asistir al evento
    .info-evento__etiqueta
        h4 fecha
        span 08/04/2017

    .info-evento__etiqueta
        h4 hora
        span 09:00 AM

    .info-evento__etiqueta
        h4 inversión
        span $ XXX

    .info-evento__etiqueta
        h4 lugar
        span Dirección exacta del lugar donde se realizará el evento

.text-center
    img(src="images/esmitecp.png", class="img-fluid text-center")

