// Publicidad
section.publicidad
    .publicidad__item
        img.publicidad__img.img-fluid(src="images/Banner1.png")

    .publicidad__item
        img.publicidad__img.img-fluid(src="images/Banner2.png")

    .publicidad__item
        img.publicidad__img.img-fluid(src="images/Banner3.png")

    .publicidad__item
        img.publicidad__img.img-fluid(src="images/Banner1.png")

    .publicidad__item
        img.publicidad__img.img-fluid(src="images/Banner2.png")

