doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="author", content="Jerson Moreno")

        title Camersur Eventos

        // Estilos CSS
        link(rel="stylesheet", href="css/bootstrap.css")
        link(rel="stylesheet", href="css/font-awesome.min.css")
        link(rel="stylesheet", href="css/calendar.css")
        link(rel="stylesheet", href="css/custom_2.css")
        link(rel="stylesheet", href="css/main.css")

        // Fuentes Web
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,700", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600", rel="stylesheet")

    body
        include _header

        block content

        include _footer
    