html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: #fff;
  display: flex;
}

.header__logo {
  width: 100%;
  text-align: center;
}

.header__logo img {
  width: 250px;
}

.header__acciones {
  color: #224668;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header__acciones__idioma {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.25em auto;
}

@media (min-width: 992px) {
  .header__acciones__idioma {
    width: 33%;
  }
}

.header__acciones__idioma a {
  color: #224668;
  font-weight: bold;
  margin-left: 0.5rem;
}

.header__acciones__registrarse {
  display: flex;
  margin: 0.25rem 1rem;
}

.header__acciones__registrarse a {
  color: #224668;
  font-weight: bold;
}

@media (min-width: 992px) {
  .header__acciones__registrarse {
    display: flex;
    justify-content: center;
    width: 33%;
  }
}

.header__acciones__login {
  background: #116B99;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  margin: 0.25rem auto;
  padding: 0.5rem;
}

@media (min-width: 992px) {
  .header__acciones__login {
    padding: 0.25em;
    width: 33%;
  }
}

.header__acciones__login a {
  color: #fff;
  display: flex;
  align-items: center;
  margin-right: 0.75em;
  text-decoration: none;
  text-transform: uppercase;
}

.header__acciones__login a:hover {
  color: #e6e6e6;
  text-decoration: none;
}

.header__sociales {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
  margin-top: 0.5em;
  width: 100%;
}

.header__sociales a {
  margin: 0 0.1em;
}

@media (min-width: 768px) {
  .header__sociales {
    justify-content: flex-end;
    margin-top: -0.75em;
    padding-right: 2em;
  }
}

.header .boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
}

.header .boton-menu:focus {
  outline: 0;
}

.header__boton {
  background-color: orange;
  border: 0;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.header__navegacion {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.header__navegacion .menu-top {
  flex: 1 1 100%;
}

.header__navegacion .menu-top ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0;
}

.header__navegacion .menu-top a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  padding: .8rem 0;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #8c8888;
  text-decoration: none;
}

.card-eventos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-eventos__item {
  background-color: #fff;
  border: 1px solid #80B100;
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  margin-bottom: 1em;
  position: relative;
}

@media (min-width: 992px) {
  .card-eventos__item {
    flex: 0 1 calc(50% - 1em);
  }
}

.card-eventos__img {
  object-fit: cover;
}

.card-eventos__bloque {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card-eventos__titulo {
  color: #116B99;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125em;
  font-weight: 600;
  margin: 0.5rem auto;
  text-transform: uppercase;
}

.card-eventos__descripcion {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  margin: 1em auto;
}

.card-eventos__txt-complementario {
  color: #248DC6;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.card-eventos__fecha {
  border: 2px solid #c4c4c4;
  color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  padding: 1rem;
}

.card-eventos__fecha .dia {
  font-size: 3.5rem;
  font-weight: bold;
}

.card-eventos__fecha .mes {
  font-size: 1rem;
}

.cmseventos-boton {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  margin: 1em auto;
  margin-top: auto;
  padding: 1em 3em;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

.cmseventos-boton a {
  color: #fff;
  position: relative;
}

.cmseventos-boton a:before {
  content: '';
  border-left: 6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  left: 105%;
  margin-top: 0.2em;
}

.cmseventos-boton a:hover {
  color: #fff;
  text-decoration: underline;
}

.cmseventos-boton--boton1 {
  background: #FCC900;
}

.cmseventos-boton--boton2 {
  background: #248DC6;
}

.cmseventos-boton--boton3 {
  background: #80B100;
  margin-top: auto;
}

.cms-titulo {
  color: #116B99;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.375em;
  font-weight: 600;
  margin: 0.5em auto;
  text-transform: uppercase;
}

.cms-titulo--verde, .cms-titulo--azul, .cms-titulo--amarillo {
  border-bottom: 1px solid #248DC6;
  font-size: 1.125em;
  padding: 0.75em 0.5em 0.25em 0.5em;
}

@media (min-width: 768px) {
  .cms-titulo--verde, .cms-titulo--azul, .cms-titulo--amarillo {
    font-size: 1.375em;
  }
}

@media (min-width: 992px) {
  .cms-titulo--verde, .cms-titulo--azul, .cms-titulo--amarillo {
    font-size: 2.25em;
  }
}

.cms-titulo--verde {
  border-left: 0.3em solid #80B100;
  color: #116B99;
}

.cms-titulo--azul {
  border-left: 0.3em solid #248DC6;
  color: #116B99;
}

.cms-titulo--amarillo {
  border-left: 0.3em solid #FCC900;
  color: #116B99;
}

/*# sourceMappingURL=main.css.map */