html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.5em;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .header__top {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .header__logo {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

.header__acciones {
  color: #224668;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.95em;
  font-weight: 600;
  width: 100%;
}

@media (min-width: 768px) {
  .header__acciones {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.header__acciones__idioma {
  margin: 0.25em auto;
}

@media (min-width: 992px) {
  .header__acciones__idioma {
    width: 33%;
  }
}

.header__acciones__idioma img {
  margin-right: 0.5em;
}

.header__acciones__idioma a {
  color: #224668;
  font-weight: bold;
}

.header__acciones__registrarse {
  margin: 0.25em 1em;
}

@media (min-width: 992px) {
  .header__acciones__registrarse {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 33%;
  }
}

.header__acciones__registrarse a {
  color: #224668;
  font-weight: bold;
}

.header__acciones__login {
  background: #116B99;
  border-radius: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.25em auto;
  padding: 0.5em;
}

@media (min-width: 992px) {
  .header__acciones__login {
    padding: 0.25em;
    width: 33%;
  }
}

.header__acciones__login a {
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.75em;
  text-decoration: none;
  text-transform: uppercase;
}

.header__acciones__login a:hover {
  color: #e6e6e6;
  text-decoration: none;
}

.header__sociales {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.header__sociales a {
  margin: 0 0.1em;
}

@media (min-width: 768px) {
  .header__sociales {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: -0.75em;
    padding-right: 2em;
  }
}

.header .boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  background-color: transparent;
}

.header .boton-menu:focus {
  outline: none;
}

.header__navegacion {
  border-bottom: 1px solid #ADE6FB;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1em auto;
}

@media (min-width: 992px) {
  .header__navegacion {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=main.css.map */