// Colores
$gris-oscuro: #748A9A;
$gris-claro: #9FB2C5;
$gris-ligero: #E8E8E8;
$azul-oscuro: #224668;
$azul-medio: #116B99;
$azul-claro: #248DC6;
$azul-ligero: #ADE6FB;
$amarillo: #FCC900;
$verde: #80B100;

// Fuentes
$montserrat-font: 'Montserrat', sans-serif;
$josefin-font: 'Josefin Sans', sans-serif;
$roboto-font: 'Roboto', sans-serif;
