// Botones
.cmseventos-boton {
  display: inline-block;
  font-family: $montserrat-font;
  font-size: em(14);
  font-weight: 600;
  margin: 1em auto;
  margin-top: auto;
  padding: 1em 3em;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  a {
    color: #fff;
    position: relative;
    &:before {
      content: '';
      border-left: 6px solid #fff;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      left: 105%;
      margin-top: 0.2em;
    }
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
  &--boton1 {
    background: $amarillo-universidad;
  }
  &--boton2 {
    background: $azul-claro;
  }
  &--boton3 {
    background: $verde-eventos;
    margin-top: auto;
  }
  &--todos {
    background-color: $azul-oscuro;
    border-left: 0.5rem solid orange;
  }
}

// Boton del detalle de eventos | informacion del sidebar
.cmseventos-boton-detalle {
  display: inline-block;
  font-family: $montserrat-font;
  font-size: em(14);
  font-weight: 600;
  margin: 1em auto;
  margin-top: auto;
  padding: 1em 2em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  a {
    color: #fff;
    position: relative;
    &:before {
      content: '';
      border-left: 6px solid #fff;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      left: 105%;
      margin-top: 0.2em;
    }
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
  &--boton-amarillo {
    background: $amarillo-universidad;
  }
}

