.header {
  background-color: #fff;
  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    @include media(sm) {
      flex-wrap: nowrap;
      padding: 0 2rem;
    }
    @include media(md) {
      padding: 0 4rem;
    }
  }
  &__logo {
    width: 100%;
    text-align: center;
    @include media(sm) {
      flex-basis: 50%;
      text-align: left;
    }
    img {
      width: 250px;
    }
  }

  // Registro | Login | Redes Sociales iconos
  &__acciones {
    color: $azul-oscuro;
    font-family: $montserrat-font;
    font-size: em(14);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include media(sm) {
      flex-basis: 50%;
      flex-direction: row;
    }

    // Icono de idioma
    &__idioma {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0.25em auto;
      @include media(md) {
        width: 33%;
      }
      a {
        color: $azul-oscuro;
        font-weight: bold;
        margin-left: 0.5rem;
      }
    }

    // Boton de registro
    &__registrarse {
      display: flex;
      margin: 0.25rem 1rem;
      a {
        color: $azul-oscuro;
        font-weight: bold;
      }
      @include media(md) {
        display: flex;
        justify-content: center;
        width: 33%;
      }
    }

    // Boton de login
    &__login {
      background: $azul-medio;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: 1 1 100%;
      margin: 0.25rem auto;
      @include media(sm) {
        padding: 0.25rem 0.75rem;
      }
      @include media(md) {
        padding: 0.25em;
        width: 33%;
      }
      a {
        color: #fff;
        display: flex;
        align-items: center;
        margin-right: 0.75em;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          color: darken(#fff, 10%);
          text-decoration: none;
        }
      }
    }
  }
  &__sociales {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
    margin-top: 0.5em;
    width: 100%;
    a {
      margin: 0 0.1em;
    }
    @include media(sm) {
      justify-content: flex-end;
      margin-top: -1.5em;
      padding-right: 10%;
    }
  }

  // Boton menu
  .boton-menu {
    border: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0 .5rem;
    background: transparent;
    &:focus {
      outline: 0;
    }
  }

  // Boton crear evento
  &__boton {
    background-color: #FFA500;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: all 0.5s ease;
    &:hover {
      background-color: $amarillo;
    }
  }

  // Menu de navegacion
  &__navegacion {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    .menu-top {
      flex: 1 1 100%;
      @include media(sm) {
        display: block;
        flex: 0 1 auto;
        order: -1;
      }
      ul {
        padding: 0;
        list-style: none;
        margin: 1rem 0 0 0;
        @include media(sm) {
          display: flex;
          margin: 0;
        }
        li.active {
          border-bottom: 4px solid $azul-oscuro;
        }
      }
      a {
        color: $azul-medio;
        display: block;
        font-family: $montserrat-font;
        font-size: em(14);
        padding: .8rem 0;
        text-align: center;
        text-transform: uppercase;
        border-top: 1px solid #8c8888;
        text-decoration: none;
        @include media(sm) {
          padding: 0.8rem;
          text-transform: capitalize;
          margin: 0 0.3rem;
          border-top: 0;
          border-bottom: 4px solid transparent;
          transition: all .5s ease;
          &:hover {
            color: $azul-oscuro;
          }
        }
      }
    }
  }
}