.header {
  background-color: #fff;
  display: flex;
  &__logo {
    width: 100%;
    text-align: center;
    img {
      width: 250px;
    }
  }
  // Registro | Login | Redes Sociales iconos
  &__acciones {
    color: $azul-oscuro;
    font-family: $montserrat-font;
    font-size: em(14);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    // Icono de idioma
    &__idioma {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0.25em auto;
      @include media(md) {
        width: 33%;
      }
      a {
        color: $azul-oscuro;
        font-weight: bold;
        margin-left: 0.5rem;
      }
    }

    // Boton de registro
    &__registrarse {
      display: flex;
      margin: 0.25rem 1rem;
      a {
        color: $azul-oscuro;
        font-weight: bold;
      }
      @include media(md) {
        display: flex;
        justify-content: center;
        width: 33%;
      }
    }

    // Boton de login
    &__login {
      background: $azul-medio;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: 1 1 100%;
      margin: 0.25rem auto;
      padding: 0.5rem;
      @include media(md) {
        padding: 0.25em;
        width: 33%;
      }
      a {
        color: #fff;
        display: flex;
        align-items: center;
        margin-right: 0.75em;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          color: darken(#fff, 10%);
          text-decoration: none;
        }
      }
    }
  }
  &__sociales {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
    margin-top: 0.5em;
    width: 100%;
    a {
      margin: 0 0.1em;
    }
    @include media(sm) {
      justify-content: flex-end;
      margin-top: -0.75em;
      padding-right: 2em;
    }
  }

  // Boton menu
  .boton-menu {
    border: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0 .5rem;
    background: transparent;
    &:focus {
      outline: 0;
    }
  }

  // Boton crear evento
  &__boton {
    background-color: orange;
    border: 0;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }

  // Menu de navegacion
  &__navegacion {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    .menu-top {
      flex: 1 1 100%;
      ul {
        padding: 0;
        list-style: none;
        margin: 1rem 0 0 0;
      }
      a {
        display: block;
        font-family: $montserrat-font;
        font-size: em(14);
        padding: .8rem 0;
        text-align: center;
        text-transform: uppercase;
        border-top: 1px solid #8c8888;
        text-decoration: none;
      }
    }
  }
}