extends partials/layout

block content
  //Banner destacado
  section.header__banner
    img(src="images/imagen-slider-principal-eventos.jpg", alt="Banner principal", class="img-fluid")
    .container.d-flex.align-items-center
      .header__flotante
        .header__texto-banner
          .header__texto-banner__titulo TEXTO DESTACADO
          .header__texto-banner__subtitulo TEXTO COMPLEMENTARIO

  section.eventos.my-5
    .container
      .row
        .col-md-8.col-lg-9
          // Listado de eventos
          include partials/_eventos

        .col-md-4.col-lg-3
          // Sidebar (calendario | Buscador | Publicidad)
          include partials/_sidebar-proximos

  // Banner TDG
  section.cmseventos-publicidad.my-5
    .container.text-center.d-none.d-lg-block
      a(href="http://www.camersur.com", target="_blank")
        img(src="images/Banner5.png", alt="Banner publicitario Camersur", class='img-fluid')

  section.destacados
    .container
      .row
        .col-md-8.col-lg-9
          // Carousel de videos
          include partials/_videos

          // Eventos destacados
          include partials/_destacados

        .col-md-4.col-lg-3
          // Sidebar destacados
          include partials/_sidebar-destacados

  section.redes.my-5
    include partials/_redes