<section class="destacados">
  <h1 class="cms-titulo cms-titulo--verde">EVENTOS DESTACADOS</h1>
  <div class="destacados__item"><img class="destacados__img img-fluid" src="images/imagen-proximos-eventos-6.jpg"/>
    <div class="destacados__bloque">
      <h4 class="destacados__titulo"><a href="#">NOMBRE DEL EVENTO DESTACADO SUPER HYPER MEGA DESTACADISIMO</a></h4>
      <p class="destacados__descripcion">Breve descripción o información general del evento Breve descripción o información general del evento Breve descripción o información general del evento</p>
      <p class="destacados__fecha">LUGAR Y FECHA DE INICIO DEL EVENTO</p>
    </div>
  </div>
  <div class="destacados__item"><img class="destacados__img img-fluid" src="images/imagen-proximos-eventos-4.jpg"/>
    <div class="destacados__bloque">
      <h4 class="destacados__titulo"><a href="#">NOMBRE DEL EVENTO DESTACADO NOMBRE DEL EVENTO DESTACADO NOMBRE DEL EVENTO DESTACADO NOMBRE DEL EVENTO DESTACADO</a></h4>
      <p class="destacados__descripcion">Breve descripción o información general del evento</p>
      <p class="destacados__fecha">LUGAR Y FECHA DE INICIO DEL EVENTO</p>
    </div>
  </div>
  <div class="destacados__item"><img class="destacados__img img-fluid" src="images/imagen-proximos-eventos-1.jpg"/>
    <div class="destacados__bloque">
      <h4 class="destacados__titulo"><a href="#">NOMBRE DEL EVENTO DESTACADO</a></h4>
      <p class="destacados__descripcion">Breve descripción o información general del evento</p>
      <p class="destacados__fecha">LUGAR Y FECHA DE INICIO DEL EVENTO</p>
    </div>
  </div>
  <div class="destacados__item"><img class="destacados__img img-fluid" src="images/imagen-proximos-eventos-2.jpg"/>
    <div class="destacados__bloque">
      <h4 class="destacados__titulo"><a href="#">NOMBRE DEL EVENTO DESTACADO</a></h4>
      <p class="destacados__descripcion">Breve descripción o información general del evento</p>
      <p class="destacados__fecha">LUGAR Y FECHA DE INICIO DEL EVENTO</p>
    </div>
  </div>
</section>
