<h1 class="cms-titulo cms-titulo--amarillo">PRÓXIMOS EVENTOS</h1>
<section class="card-eventos">
  <article class="card-eventos__item"><img class="card-eventos__img img-fluid" src="images/imagen-proximos-eventos-1.jpg" alt="Card image cap"/>
    <div class="card-eventos__bloque px-3 py-2">
      <div class="card-eventos__texto">
        <h4 class="card-eventos__titulo">NOMBRE DEL EVENTO CONSIDERABLE Y LARGO ES UNA LOCURA DE TEXTO</h4>
        <p class="card-eventos__descripcion">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <!-- Fecha-->
      <div class="card-eventos__fecha"><span class="dia">08</span><span class="mes">ABRIL</span></div>
    </div>
    <div class="card-eventos__txt-complementario px-3">LUGAR Y HORA DEL EVENTO</div>
    <div class="cmseventos-boton cmseventos-boton--boton3"><a href="#">LEER MÁS</a></div>
  </article>
  <article class="card-eventos__item"><img class="card-eventos__img img-fluid" src="images/imagen-proximos-eventos-2.jpg" alt="Card image cap"/>
    <div class="card-eventos__bloque px-3 py-2">
      <div class="card-eventos__texto">
        <h4 class="card-eventos__titulo">Nombre del evento mas o menos largo</h4>
        <p class="card-eventos__descripcion">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <!-- Fecha-->
      <div class="card-eventos__fecha"><span class="dia">21</span><span class="mes">ABRIL</span></div>
    </div>
    <div class="card-eventos__txt-complementario px-3">LUGAR Y HORA DEL EVENTO</div>
    <div class="cmseventos-boton cmseventos-boton--boton3"><a href="#">LEER MÁS</a></div>
  </article>
  <article class="card-eventos__item"><img class="card-eventos__img img-fluid" src="images/imagen-proximos-eventos-3.jpg" alt="Card image cap"/>
    <div class="card-eventos__bloque px-3 py-2">
      <div class="card-eventos__texto">
        <h4 class="card-eventos__titulo">Nombre del evento</h4>
        <p class="card-eventos__descripcion">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <!-- Fecha-->
      <div class="card-eventos__fecha"><span class="dia">29</span><span class="mes">ABRIL</span></div>
    </div>
    <div class="card-eventos__txt-complementario px-3">LUGAR Y HORA DEL EVENTO</div>
    <div class="cmseventos-boton cmseventos-boton--boton3"><a href="#">LEER MÁS</a></div>
  </article>
  <article class="card-eventos__item"><img class="card-eventos__img img-fluid" src="images/imagen-proximos-eventos-4.jpg" alt="Card image cap"/>
    <div class="card-eventos__bloque px-3 py-2">
      <div class="card-eventos__texto">
        <h4 class="card-eventos__titulo">Nombre del evento</h4>
        <p class="card-eventos__descripcion">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <!-- Fecha-->
      <div class="card-eventos__fecha"><span class="dia">06</span><span class="mes">MAYO</span></div>
    </div>
    <div class="card-eventos__txt-complementario px-3">LUGAR Y HORA DEL EVENTO</div>
    <div class="cmseventos-boton cmseventos-boton--boton3"><a href="#">LEER MÁS</a></div>
  </article>
  <article class="card-eventos__item"><img class="card-eventos__img img-fluid" src="images/imagen-proximos-eventos-5.jpg" alt="Card image cap"/>
    <div class="card-eventos__bloque px-3 py-2">
      <div class="card-eventos__texto">
        <h4 class="card-eventos__titulo">Nombre del evento</h4>
        <p class="card-eventos__descripcion">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <!-- Fecha-->
      <div class="card-eventos__fecha"><span class="dia">11</span><span class="mes">MAYO</span></div>
    </div>
    <div class="card-eventos__txt-complementario px-3">LUGAR Y HORA DEL EVENTO</div>
    <div class="cmseventos-boton cmseventos-boton--boton3"><a href="#">LEER MÁS</a></div>
  </article>
  <article class="card-eventos__item"><img class="card-eventos__img img-fluid" src="images/imagen-proximos-eventos-6.jpg" alt="Card image cap"/>
    <div class="card-eventos__bloque px-3 py-2">
      <div class="card-eventos__texto">
        <h4 class="card-eventos__titulo">Nombre del evento</h4>
        <p class="card-eventos__descripcion">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <!-- Fecha-->
      <div class="card-eventos__fecha"><span class="dia">19</span><span class="mes">JUNIO</span></div>
    </div>
    <div class="card-eventos__txt-complementario px-3">LUGAR Y HORA DEL EVENTO</div>
    <div class="cmseventos-boton cmseventos-boton--boton3"><a href="#">LEER MÁS</a></div>
  </article>
  <div class="cmseventos-boton cmseventos-boton--todos"><a href="#">VER TODOS LOS PRÓXIMOS EVENTOS</a></div>
</section>
