<!-- AQUI DEBES INCLUIR EL PARTIAL DE REDES -->


<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Logo Camersur-->
      <div class="col-12 col-md-3"><a href="#"><img class="img-fluid" src="images/logo-eventos.svg" alt="Eventos Camersur Logo"/></a></div>
      <!-- Seccion acerca de nosotros-->
      <div class="col-12 col-md-3 acerca">
        <h4 class="footer__titulo">Acerca de Camersur</h4>
        <ul class="footer__menu">
          <li class="footer__menu__item"><a class="footer__menu__link" href="#">Nosotros</a></li>
          <li class="footer__menu__item"><a class="footer__menu__link" href="#">Planes</a></li>
          <li class="footer__menu__item"><a class="footer__menu__link" href="#">Aviso legal</a></li>
          <li class="footer__menu__item"><a class="footer__menu__link" href="#">Términos de uso</a></li>
          <li class="footer__menu__item"><a class="footer__menu__link" href="#">Políticas de cookies</a></li>
        </ul>
      </div>
      <!-- Seccion de categorias-->
      <div class="col-12 col-md-3 categorias">
        <h4 class="footer__titulo">Áreas de interés</h4>
        <ul class="footer__menu">
          <li class="footer__menu__item"><a class="footer__menu__link" href="#">Eventos</a></li>
          <li class="footer__menu__item"><a class="footer__menu__link" href="#">Nosotros</a></li>
          <li class="footer__menu__item"><a class="footer__menu__link" href="#">Soporte</a></li>
        </ul>
      </div>
      <!-- Seccion de contacto-->
      <div class="col-12 col-md-3 contacto">
        <h4 class="footer__titulo">Contacto</h4>
        <p class="contacto__email"><i class="fa fa-envelope pr-2"></i>info@camersur.com</p>
        <p class="contacto__telefono"><i class="fa fa-mobile pr-2"></i>Telf: 954-687-0025</p>
        <p class="contacto__direccion"><i class="fa fa-map-marker pr-2"></i>2863 Executive Park Dr. Suite 102 Weston<br/>FL 33326</p>
      </div>
      <!-- Seccion de copyright-->
      <div class="col-12 text-center mt-3">
        <p class="copyright">Copyright &copy; CAMERSUR, 2016-2017. Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.calendario.js"></script>
<script src="js/main.js"></script>
