<!-- Novedades-->
<section class="novedades">
  <h4 class="novedades__titulo">RECIBE LAS NOVEDADES</h4>
  <form class="novedades__form">
    <input class="form-control" type="email" placeholder="DIRECCIÓN DE CORREO"/>
    <input type="submit" value="SUSCRIBIRSE"/>
  </form>
</section>
<!-- Publicidad-->
<section class="publicidad">
  <!-- Crear un evento-->
  <div class="publicidad__item"><a href="#"><img class="publicidad__img img-fluid" src="images/imagen-crear-un-evento.jpg"/></a></div>
  <div class="publicidad__item"><img class="publicidad__img img-fluid" src="images/Banner1.png"/></div>
  <div class="publicidad__item"><img class="publicidad__img img-fluid" src="images/Banner2.png"/></div>
  <div class="publicidad__item"><img class="publicidad__img img-fluid" src="images/Banner3.png"/></div>
</section>
