<!-- Calendario-->
<section class="calendario">
  <button class="calendario__boton" type="button"><a href="#"><i class="fa i fa fa-calendar"></i>
      <h4>Próximos Eventos</h4></a></button>
</section>
<!-- Buscador de Eventos-->
<section class="buscador">
  <h4 class="buscador__titulo">BUSCADOR DE EVENTOS</h4>
  <div class="buscador__bloque">
    <form class="buscador__form">
      <input class="form-control" type="text" placeholder="PALABRA CLAVE"/>
      <input class="form-control" type="text" placeholder="ORGANIZADOR"/>
      <select class="form-control">
        <option selected="selected">CATEGORÍA</option>
      </select>
      <button class="buscador__boton" type="button">Buscar</button>
    </form>
  </div>
</section>
<!-- Publicidad-->
<div class="text-center"><img class="img-fluid text-center" src="images/esmitecp.png"/></div>
<!-- Redes Sociales-->
<section class="sociales"><a class="sociales__icon" href="#"><img class="img-fluid" src="images/icono-linkedin-blanco.png"/></a><a class="sociales__icon" href="#"><img class="img-fluid" src="images/icono-facebook-blanco.png"/></a><a class="sociales__icon" href="#"><img class="img-fluid" src="images/icono-twitter-blanco.png"/></a><a class="sociales__icon" href="#"><img class="img-fluid" src="images/icono-youtube-blanco.png"/></a><a class="sociales__icon" href="#"><img class="img-fluid" src="images/icono-instagram-blanco.png"/></a></section>
