<div class="info-evento">
  <div class="cmseventos-boton-detalle cmseventos-boton-detalle--boton-amarillo"><a href="#">Asistir al evento</a></div>
  <div class="info-evento__etiqueta">
    <h4>fecha</h4><span>08/04/2017</span>
  </div>
  <div class="info-evento__etiqueta">
    <h4>hora</h4><span>09:00 AM</span>
  </div>
  <div class="info-evento__etiqueta">
    <h4>inversión</h4><span>$ XXX</span>
  </div>
  <div class="info-evento__etiqueta">
    <h4>lugar</h4><span>Dirección exacta del lugar donde se realizará el evento</span>
  </div>
</div>
<div class="text-center"><img class="img-fluid text-center" src="images/esmitecp.png"/></div>
